<html>

<head>
    <link rel="stylesheet" href="/style.css"></link>
    <ul>
        <li>
            <a href="/">Home page</a>
        </li>
        <li>
            <a href="/students">List of students</a>
        </li>
        <li>
            <a href="/students/data">Data visualization</a>
        </li>
    </ul>
</head>

<body>
    <h1 align="center">
        Informations about the student:
    </h1>

    <div >
        <div>
            <div>
                <u>Name of the student :</u>
                <%=students[id].name%> <br><br> <u>School :</u>
                    <%=students[id].school%> <br><br> <u>Birth Date :</u>
                        <%=students[id].birth_date%> <br><br> <u>Mail :</u>
                            <%=students[id].email_adress%> <br><br> <u>GPA :</u>
                                <%=students[id].GPA%> <br><br>

            </div>
        </p>
</body>

</html>